<div class="disply-container">
  <div class="p-section container">
    <div class="dashboard-content">
      <div class="time">
        <p class="timePara" style=" margin-right: 10px; display: inline-block;">{{ currentTime | date: 'EEEE , hh:mm:ss
          a' }}</p>
      </div>
      <h2 class="text-center topHeading">My Profile
      </h2>
      <div class="row">
        <!-- <div class="col-md-12">
          <button routerLink="/assessment/dashboard/" class="btn float-left btnLeaderboard"><i
              class="fas fa-angle-double-left mr-1"></i>Dashboard</button>
        </div> -->
        <div class="col-md-12">
          <hr>
        </div>
      </div>
      <div class="row d-flex ">
        <div class="col-md-10">
          <div class="row">
            <div class="col-lg-4" data-aos="fade-down-right" data-aos-duration="2000">
              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link" id="" data-toggle="" href="javascript:void(0)" routerLink="/assessment/dashboard"
                  role="tab" aria-controls="" aria-selected="true"><span class="iconify"
                    data-icon="dashicons:admin-home"></span> Dashboard</a>
                <!-- <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                  aria-controls="v-pills-home" aria-selected="true"><span class="iconify"
                    data-icon="carbon:user-avatar-filled-alt"></span> Account Details</a> -->
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                  aria-controls="v-pills-profile" aria-selected="false"><span class="iconify"
                    data-icon="simple-icons:googledomains"></span> Payment details</a>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
                  aria-controls="v-pills-messages" aria-selected="false"><span class="iconify"
                    data-icon="ri:lock-password-fill"></span> Change Password</a>
                <a *ngIf="invitation?.length > 0" class="nav-link" id="v-pills-invitation-tab" data-toggle="pill"
                  href="#v-pills-invitation" role="tab" aria-controls="v-pills-invitation" aria-selected="false"><span
                    class="iconify" data-icon="ri:lock-password-fill"></span> School Invitation</a>
                <a class="nav-link" id="" data-toggle="modal" data-target="#confirmationModalLogOut" href="" role="tab"
                  aria-controls="" aria-selected="false"><span class="iconify" data-icon="mdi:logout"></span> Logout</a>
              </div>
            </div>
            <div class="col-lg-7 offset-lg-1">
              <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                  aria-labelledby="v-pills-home-tab">
                  <div class="row mb-4">
                    <div class="col-md-4">
                      <div class="profile-img-container position-relative" data-aos="flip-left" data-aos-duration="2000">
                        <img src="https://rebrand.ly/cek25c0" alt="User Profile" class="user-img">
                      </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-center">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="customFileInputNew" (click)="changeUserProfile(imageInput)">
                            <button class="btn btnChangeProfile">Change Profile</button>
                            <div *ngIf="userProfileObj" class="mt-4 text-center">
                            </div>
                            <input type="file" id="profilepic" (change)="upadateProfileImage()" class="inputfile"
                              name="userImage" #imageInput>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <h6 class="formatInst">Accepting the file format jpg, png <br> and max size is 50 kb.</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="changePasswordDiv profileEditForm col-lg-12 ">
                    <form [formGroup]="profileForm" (submit)="onSubmit()">
                      <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label">Name</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" formControlName="fullname" id="inputPassword"
                            placeholder="Enter your full name" >
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label">Mobile</label>
                        <div class="col-sm-8">
                          <label for="inputPassword" formControlName="phone"
                            style=" font-size: 14px;border: 1px solid rgba(0, 0, 0, 0.48); border-radius: 5px;
                                color: #5a5a5a; background: #F9F9F9;width: 100%;height: 35px;padding: 0.375rem 0.75rem;"
                            class="col-form-label">{{profileForm}}</label>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label">Email</label>
                        <div class="col-sm-8">
                          <input type="email" formControlName="email" class="form-control" id="inputPassword"
                            placeholder="Enter your email id">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label">Gender </label>
                        <div class="col-sm-8">
                          <select class="form-control" id="sel2" formControlName="gender">
                            <option value="">Select Gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label">State/UT </label>
                        <div class="col-sm-8">
                          <select class="form-control" id="sel2" formControlName="state"
                            (change)="fetchStateCities($event.target)">
                            <option value="">Select State</option>
                            <option [value]="state?.id" *ngFor="let state of states; let i = index">{{state?.name}}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label">City </label>
                        <div class="col-sm-8">
                          <select class="form-control" id="sel2" formControlName="city">
                            <option value="">Select City</option>
                            <option [value]="city?.id" *ngFor="let city of cities; let i = index">{{city?.name}}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputPassword" class="col-sm-4 col-form-label">Qualification </label>
                        <div class="col-sm-8">
                          <select class="form-control" id="sel2" formControlName="qualification">
                            <option value="">Select Qualification</option>
                            <option value="10th">10th</option>
                            <option value="12th">12th</option>
                            <option value="graduation">Graduate</option>
                            <option value="postgraduation">Post Graduate</option>
                            <option value="other">Other</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row d-flex justify-content-center">
                        <button class="btn btnSave btn-sm" type="submit">Save</button>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                  <div>Your payment details
                    <div class="card domainCard" *ngFor="let exam of myExams;">
                      <div><a href="javascript:void(0)"
                          routerLink="/assessment/dashboard/choose-p/{{exam?.exam?.id}}">{{exam?.exam?.title}}</a></div>
                      <div><a href="javascript:void(0)" (click)="setDeletionId(exam?.id)" data-toggle="modal"
                          data-target="#confirmationModal"><span class="iconify crossIconImage"
                            data-icon="fluent:delete-28-filled"></span></a></div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                  <div class="changePasswordDiv newAndOldPAssword col-lg-8">
                    <div class="form-group">
                      <label for="inputPassword" class="col-form-label">New Password : </label>
                      <input type="password" [(ngModel)]="password" name="password" class="form-control"
                        id="inputPassword">
                    </div>
                    <div class="form-group ">
                      <label for="inputPassword" class="col-form-label">Confirm New Password : </label>
                      <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" class="form-control"
                        id="inputPassword">
                    </div>
                    <div class="form-group row d-flex justify-content-center">
                      <button class="btn btnSave btn-sm" type="button" (click)="savePassword()">Save</button>
                    </div>
                  </div>
                </div>
                <!-- <div class="tab-pane fade" id="v-pills-invitation" role="tabpanel"
                  aria-labelledby="v-pills-invitation-tab">
                  <div class="changePasswordDiv col-lg-10">
                    <div class="form-group row">
                      <label for="inputPassword" class="col-sm-4 col-form-label">New School : </label>
                      <div class="col-sm-8" *ngIf="invitation?.length > 0">
                        <input type="password" name="password" class="form-control" id="inputPassword"
                          placeholder="{{invitation[0].inviting_institute_room?.institute_name}}" disabled>
                      </div>
                    </div>
                    <div class="form-group row d-flex justify-content-center">
                      <button class="btn btnSave btn-sm" type="button" data-toggle="modal"
                        data-target="#confirmationModalSchoolChange">Accept</button>
                    </div>
                  </div>
                </div> -->
                <!-- <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                  ...</div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>