.container {
  min-height: 100vh;
}
.lds-default {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-default div {
    position: absolute;
    width: 9px;
    height: 9px;
    background: #007BBA;
    border-radius: 50%;
    animation: lds-default 1.2s linear infinite;
  }
  .lds-default div:nth-child(1) {
    animation-delay: 0s;
    top: 37px;
    left: 66px;
  }
  .lds-default div:nth-child(2) {
    animation-delay: -0.1s;
    top: 22px;
    left: 62px;
  }
  .lds-default div:nth-child(3) {
    animation-delay: -0.2s;
    top: 11px;
    left: 52px;
  }
  .lds-default div:nth-child(4) {
    animation-delay: -0.3s;
    top: 7px;
    left: 37px;
  }
  .lds-default div:nth-child(5) {
    animation-delay: -0.4s;
    top: 11px;
    left: 22px;
  }
  .lds-default div:nth-child(6) {
    animation-delay: -0.5s;
    top: 22px;
    left: 11px;
  }
  .lds-default div:nth-child(7) {
    animation-delay: -0.6s;
    top: 37px;
    left: 7px;
  }
  .lds-default div:nth-child(8) {
    animation-delay: -0.7s;
    top: 52px;
    left: 11px;
  }
  .lds-default div:nth-child(9) {
    animation-delay: -0.8s;
    top: 62px;
    left: 22px;
  }
  .lds-default div:nth-child(10) {
    animation-delay: -0.9s;
    top: 66px;
    left: 37px;
  }
  .lds-default div:nth-child(11) {
    animation-delay: -1s;
    top: 62px;
    left: 52px;
  }
  .lds-default div:nth-child(12) {
    animation-delay: -1.1s;
    top: 52px;
    left: 62px;
  }
  @keyframes lds-default {
    0%, 20%, 80%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
  }
  .containerOverAllHistory {
    padding-bottom: 20px;
  
    .noDataFound {
      font-family: "jaldi", sans-serif;
      font-size: 25px;
      margin: 20px 0px;
      color: #ff4935;
    }
  
    .mainbox {
      position: sticky;
      left: 50%;
      top: 60%;
    }
  
    .generateSpent {
      display: flex;
      justify-content: center;
  
      .card {
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 50%;
        width: 175px;
        height: 175px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 7px solid #007bba;
        margin: auto;
  
        h2 {
          color: #007bba;
          font-family: "Jaldi", Sans-serif;
          font-size: 28px;
          font-weight: 900;
          line-height: 60px;
        }
  
        h3 {
          color: #000000;
          line-height: 1;
          font-size: 15px;
          text-align: center;
          text-transform: uppercase;
          font-weight: 500;
          font-family: "jaldi", sans-serif;
          font-weight: bold;
        }
      }
    }
  
    .lastDiv {
      padding: 0px 30px;
    }
  
    .shadowCard {
      box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
      border-radius: 10px;
      padding: 20px 0px;
      margin-top: 30px;
    }
  
    .normalCard {
      padding: 20px 0px;
      margin-top: 30px;
      border: none;
      background: transparent;
    }
  
    label {
      position: relative;
      background-color: #48ab47;
      color: #ffffff;
      height: 25px;
      width: 80px;
      border-radius: 5px;
      line-height: 27px;
      text-align: center;
      font-size: 10px;
      font-weight: 400;
      display: block;
      cursor: pointer;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
      transition: all 0.3s ease;
    }
  
    label:hover {
      letter-spacing: 1px;
    }
  
    label::before {
      content: "Cancel";
      position: absolute;
      height: 25px;
      width: 80px;
      left: 0;
      top: 0;
      background: #fff;
      color: black;
      border-radius: 5px;
      opacity: 0;
    }
  
    .check {
      display: none;
    }
  
    .check:checked ~ label::before {
      opacity: 1;
    }
  
    .media-icons {
      position: absolute;
      left: 50%;
      top: -72px;
      transform: translateX(-50%);
      background-color: rgb(236, 234, 234);
      width: 167px;
      height: 50px;
      text-align: center;
      display: none;
      align-items: center;
      justify-content: space-evenly;
      border-radius: 35px;
      padding: 4px;
      z-index: 1;
      pointer-events: auto;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
      transition: all 0.3s ease;
    }
  
    .activeShare {
      display: flex;
    }
  
    .check:checked ~ .media-icons {
      opacity: 1;
      pointer-events: inherit;
      top: -72px;
    }
  
    .media-icons::before {
      content: "";
      width: 18px;
      height: 18px;
      position: absolute;
      left: 50%;
      background-color: rgb(236, 234, 234);
      bottom: -9px;
      pointer-events: all;
      transform: translateX(-50%) rotate(45deg);
      z-index: -1;
    }
  }
  
  .media-icons a {
    font-size: 22px;
    color: #18b32f;
    transition: all 0.3s ease;
  }
  .media-icons a:hover {
    transform: translateY(-2px);
  }
  .media-icons a:nth-child(1):hover {
    color: #426782;
  }
  .media-icons a:nth-child(2):hover {
    color: #25d366;
  }
  .media-icons a:nth-child(3):hover {
    color: #e1306c;
  }
  .media-icons a:nth-child(4):hover {
    color: #ff0000;
  }
  
  .paperPractice {
    color: #141824;
    font-family: "Jaldi", Sans-serif;
    font-size: 2.25em;
    font-weight: 400;
    line-height: 1.278em;
    letter-spacing: 0px;
    padding: 36px 0px 10px 0px;
  }
  .paperPractice span {
    color: #007bba;
    text-transform: uppercase;
  }
  
  .paperPracticeTab {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  .paperPracticeTab .nav-tabs {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    border: none;
    display: inline-flex;
  }
  .paperPracticeTab .nav-tabs .nav-link {
    border: none;
    border-radius: 0;
    transition: color 0.2s ease-out;
  }
  .paperPracticeTab .tabs-dark .nav-link {
    color: #222;
    background-color: #fff;
    width: 350px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "jaldi", sans-serif;
    font-size: 18px;
    font-weight: 700;
  }
  .paperPracticeTab .nav-tabs .nav-link:hover {
    background-color: #f77101;
    color: #fff !important;
  }
  .paperPracticeTab .nav-tabs .nav-link.active {
    color: #fff;
    background-color: #048adf;
  }
  .paperPracticeTab .tabs-light .nav-link {
    color: rgba(54, 52, 52, 0.5);
  }
  .paperPracticeTab .tabs-dark .nav-link:not(.active):hover {
    color: #048adf;
  }
  .paperPracticeTab .tabs-light .nav-link:not(.active):hover {
    color: #495057;
  }
  
  .paperPracticeTab .nav-pills .nav-link {
    border-radius: 2px;
    color: #495057;
    transition: color 0.2s ease-out, box-shadow 0.2s;
  }
  .paperPracticeTab .nav-pills .nav-link:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
  .paperPracticeTab .nav-pills .nav-item {
    margin: 0 5px;
  }
  .paperPracticeTab .nav-pills.pills-dark .nav-link.active {
    background-color: #343a40 !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
  .paperPracticeTab .nav-pills.pills-dark .nav-link:not(.active):hover {
    color: #1d1e22;
  }
  .paperPracticeTab .tabs-marker .nav-link {
    position: relative;
  }
  .paperPracticeTab .tabs-marker .nav-link.active .marker {
    height: 30px;
    width: 30px;
    left: 50%;
    bottom: -30px;
    transform: translatex(-50%);
    position: absolute;
    overflow: hidden;
  }
  .paperPracticeTab .tabs-marker .nav-link.active .marker:after {
    content: "";
    height: 25px;
    width: 25px;
    top: -17px;
    left: 50%;
    transform: rotate(45deg) translatex(-50%);
    transform-origin: left;
    background-color: #048adf;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
  }
  .subjects {
    padding-top: 50px;
  }
  .subjects #slideLeft,
  .subjects #slideRight {
    color: #7A7B7B !important;
    font-weight: bold !important;
    font-size: 20px !important;
  }
  .subjects .nav-tabs .nav-link {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 112px;
    font-size: 20px;
    height: 50px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #e9e5e5;
    box-shadow: inset 0px -11px 8px -10px #adabab;
    cursor: pointer;
    font-weight: 500;
    color: #333333;
    font-family: "jaldi", sans-serif;
    white-space: nowrap;
  }
  .subjects .nav-tabs .nav-link.active {
    background-color: #f5f4f4;
    color: #f77101;
    box-shadow: 0px 4px 5px 0px rgb(0 0 0 / 15%);
    font-weight: bold;
    font-family: "jaldi", sans-serif;
    border-color: #dee2e6 #dee2e6 #f5f4f5;
  }
  .subjects .nav-tabs {
    box-shadow: inset 0px -11px 8px -10px #adabab;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: scroll;
    border-bottom: none;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
  }
  .subjects .nav-tabs::-webkit-scrollbar {
    display: none;
  }
  .subjects .nav-tabs {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .dataCircle {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .data {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .data h6 {
    font-family: "jaldi", sans-serif;
    font-size: 20px;
    margin-top: 6px;
    font-weight: bold;
  }
  .orange,
  .blue,
  .red,
  .green {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
  }
  .orange h4,
  .blue h4,
  .red h4,
  .green h4 {
    font-family: "jaldi", sans-serif;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }
  .orangeText {
    color: #FE9600;
  }
  .orange {
    border: 5px solid #FE9600;
  }
  .blue {
    border: 5px solid #00BBD4;
  }
  .blueText {
    color: #00BBD4;
  }
  .red {
    border: 5px solid #0ADA74;
  }
  .redText {
    color: #0ADA74;
  }
  .green {
    background-color: #61b883;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .reportSubHeading {
    color: #141824;
    font-family: "Jaldi", Sans-serif;
    font-size: 2.25em;
    font-weight: 400;
    line-height: 1.278em;
    letter-spacing: 0px;
    font-weight: bold;
  }
  .reportSubHeading span {
    color: #007bba;
  }
  .highchartsStyle {
    height: 50vh;
    width: 78vw !important;
    display: block;
  }
  .gradCard {
    background: linear-gradient(180deg, #FFFFFF 93.54%, #FFFFFF 96.15%, rgba(0, 87, 255, 0.99) 100%);
  }
  .pinkDiv {
    background-color: #fefefe;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
  }
  .pinkDiv .remarksTitle {
    text-align: center;
    width: 250px;
    padding: 10px;
    border-radius: 10px;
  }
  .pinkDiv .remarksTitle h6 {
    color: #141824;
    font-family: "Jaldi", Sans-serif;
    font-size: 2.25em;
    font-weight: bold;
    line-height: 1.278em;
    letter-spacing: 0px;
  }
  .pinkDiv p {
    padding: 15px;
    color: #007BBA;
    font-family: "jaldi", sans-serif;
    font-size: 18px;
  }
  

  .allHistory .card {
    border: none;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: -3px -12px 27px -13px rgb(0 0 0 / 22%);
    min-height: 250px;
  }
  
  .allHistory .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .allHistory .card .paperFirstRow {
    display: flex;
    justify-content: center;
  }
  
  .allHistory .card .paperFirstRow small {
    font-weight: bold;
    color: #434141;
    position: absolute;
    right: 20px;
  }
  
  .allHistory .card .paperFirstRow h2 {
    letter-spacing: 0.01em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    font-family: "jaldi", sans-serif;
  }
  
  .allHistory .card .paperFirstRow h3 {
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    font-family: "jaldi", sans-serif;
    margin: 6px 0;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .allHistory .card .paperFirstRow h4 {
    font-weight: bold;
    font-size: 14px;
    font-family: "jaldi", sans-serif;
    margin: 4px 0;
  }
  
  .allHistory .card .paperFirstRow h4 span {
    color: #5a5a5a;
    font-weight: normal;
  }
  
  .allHistory .card .paperSecondRow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .allHistory .card .paperSecondRow h4 {
    font-weight: bold;
    font-size: 14px;
    font-family: "jaldi", sans-serif;
    margin: 4px 0;
  }
  
  .allHistory .card .paperSecondRow h4 span {
    color: #5a5a5a;
    font-weight: normal;
  }
  
  .allHistory .card .paperSecondRow .allSubjects {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .allHistory .card .marks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .allHistory .card .marks h4 {
    font-weight: bold;
    font-size: 14px;
    font-family: "jaldi", sans-serif;
    margin: 4px 0;
  }
  
  .allHistory .card .paperThirdRow {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .allHistory .card .paperThirdRow .btn {
    margin-top: 7px;
  }
  
  .allHistory .card .paperThirdRow .attemptNow {
    background: #ffffff;
    border: 1px solid #fe9600;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.32);
    border-radius: 5px;
    color: #fe9600;
    font-weight: bold;
    font-size: 12px;
    font-family: "jaldi", sans-serif;
    width: 88px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .allHistory .card .paperThirdRow .attemptNow:hover {
    background-color: #fe9600;
    color: #ffffff;
  }
  
  .allHistory .card .paperThirdRow .reportCard {
    background: #ffffff;
    border: 1px solid #00c6ff;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.32);
    border-radius: 5px;
    color: #00c6ff;
    font-weight: bold;
    font-size: 12px;
    font-family: "jaldi", sans-serif;
    width: 88px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .allHistory .card .paperThirdRow .reportCard:hover {
    background-color: #00c6ff;
    color: #ffffff;
  }
  
  .allHistory .card .paperThirdRow .shareButton {
    background: #ffffff;
    border: 1px solid #0ada74;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.32);
    border-radius: 5px;
    color: #0ada74;
    font-weight: bold;
    font-size: 12px;
    font-family: "jaldi", sans-serif;
    width: 88px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .allHistory .card .paperThirdRow .shareButton:hover {
    background-color: #0ada74;
    color: #ffffff;
  }
  
  .btnLeaderboard {
    padding: 0;
    font-family: "jaldi", Sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #007bba;
    background-color: rgba(0, 0, 0, 0);
  }
  
  .heading {
    color: #000000;
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 5px;
    font-family: "jaldi", sans-serif;
    text-align: center;
    padding-top: 17px;
  }
  
  .heading span {
    color: #007bba;
    font-weight: 700;
  }
  
  .headingPara {
    text-align: center;
    color: #5e6067;
    font-family: "jaldi", Sans-serif;
    font-size: 1.375em;
    font-weight: 300;
    line-height: 1.545em;
    letter-spacing: 0px;
    margin-bottom: 0;
    margin-top: -6px;
  }
  
  .fa-history {
    margin-right: 20px;
  }
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #ffffff;
    margin: 0em 0 1em 0;
    padding: 0;
  }
  
  .studentName {
    display: flex;
    justify-content: space-between;
    color: #1515159c;
    font-family: "jaldi", Sans-serif;
    font-size: 1.375em;
    font-weight: 300;
    line-height: 1.545em;
    letter-spacing: 0px;
  }
  
  @media screen and (min-width: 800px) {
    .nav-tabs {
      justify-content: center;
    }
  }
  
  @media screen and (max-width: 1200px) {
    .containerOverAllHistory .allHistory .card {
      margin-bottom: 20px;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .containerOverAllHistory .generateSpent .card h3 {
      font-size: 21px;
    }
  }
  
  @media screen and (max-width: 760px) {
    .containerOverAllHistory {
      padding: 0px 10px;
    }
  
    .reportSubHeading {
      font-size: 29px;
    }
  
    .paperPractice {
      text-align: center;
    }
  
    .allHistory .paperFirstRow {
      flex-wrap: wrap;
    }
  
    .allHistory .paperThirdRow {
      flex-wrap: wrap;
    }
  
    .allHistory .card {
      margin-bottom: 20px;
    }
  
    .tabbedLink .nav-pills .nav-link {
      margin: 5px;
    }
  
    .dataCircle {
      justify-content: space-around;
    }
  
    .data {
      margin-bottom: 20px;
    }
  
    .data h6 {
      font-size: 14px;
    }
  
    .highchartsStyle {
      width: 85vw !important;
    }
  
    .pinkDiv p {
      padding: 5px;
    }
  
    .dataCircle {
      flex-direction: column;
    }
  
    .paperPracticeTab .tabs-dark .nav-link {
      width: 161px;
    }
  
    .subjects .nav-tabs {
      box-shadow: inset 0px -11px 8px -10px #adabab;
      display: flex;
      flex-wrap: nowrap;
      white-space: nowrap;
      overflow-x: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  
    .subjects .nav-tabs::-webkit-scrollbar {
      display: none;
    }
  }
  
  @media screen and (max-width: 350px) {
    .containerOverAllHistory .paperPracticeTab .tabs-dark .nav-link {
      width: 130px;
    }
  }
  